
* {
   font-family: 'Roboto';
}

.quick_link {
     display: inline-block;
    text-decoration: none;
    color: black;
   
    padding: 9px;
    margin: 1px;
    background-color: #FF9800;
    border-radius: 7px;
    font-size:10px
}
