
* {
   font-family: 'Roboto';
}

.top_alert_box{
   background-color:yellow;
}
.top_alert_text{
   color:white;
}
body{
  width:534px;
}
@media only screen and (min-width: 1300px) {
  body {
    width: 100%;

        }
}
body {
   min-width: 400px;


   background-color: black;
   margin-left: 20px;
   margin-right: 20px;
}

h1{
  color:white;
  font-size: 30px;
  text-align: center;

}

.quick_link {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px;
    padding-top:6px;
    padding-bottom: 6px;
    margin: 2px;
    background-color: #dc4405;
    border-radius: 7px;
    font-size: 20px;
    border-bottom: 3px solid grey;
    border-left: 3px solid grey;
}

.quick_link:hover {
  background-color: grey;
  border-color: #dc4405;
}


h2 {

  padding-bottom: 0px;
  margin-bottom: 5px;
  font-size: 27px;
  color:white;
}
